button{
width: 50px;
height: 25px;
border-radius: 18%;
text-align: center;

padding:1px ;
}

#mainContainer {
    display: flex;
    justify-content: center;
    
  }
#gameContainer {
    display: flex;
    justify-content: center;
  }

input{
height: 20px;
width: 30px;
text-align: center;
}

.center {
    position: absolute;
    margin-top: 100px;
    }

.centerBtn{
  position: absolute;
  margin-top: 170px;
  }